In [62]:
import numpy as np
import pandas as pd

df =pd.read_csv('movies_2.csv') #Gathering Data
df.head(5)

,MovieID,Title,MPAA Rating,Budget,Gross,Release Date,Genre,Runtime,Rating,Rating Count,Summary
0,1,Look Who's Talking,PG-13,7500000.0,296000000.0,1989-10-12,Romance,93.0,5.9,73638.0,"After a single, career-minded woman is left on..."
1,2,Driving Miss Daisy,PG,7500000.0,145793296.0,1989-12-13,Comedy,99.0,7.4,91075.0,An old Jewish woman and her African-American c...
2,3,Turner & Hooch,PG,13000000.0,71079915.0,1989-07-28,Crime,100.0,7.2,91415.0,"Det. Scott Turner (Tom Hanks) is an uptight, b..."
3,4,Born on the Fourth of July,R,14000000.0,161001698.0,1989-12-20,War,145.0,7.2,91415.0,The biography of Ron Kovic. Paralyzed in the V...
4,5,Field of Dreams,PG,15000000.0,84431625.0,1989-04-21,Drama,107.0,7.5,101702.0,"An Iowa corn farmer, hearing voices, interpret..."

In [63]:
df.shape

(616, 11)

In [64]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 616 entries, 0 to 615
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   MovieID       616 non-null    int64
 1   Title         615 non-null    object
 2   MPAA Rating   615 non-null    object
 3   Budget        615 non-null    float64
 4   Gross         615 non-null    float64
 5   Release Date  615 non-null    object
 6   Genre         615 non-null    object
 7   Runtime       615 non-null    float64
 8   Rating        508 non-null    float64
 9   Rating Count  508 non-null    float64
 10  Summary       496 non-null    object
dtypes: float64(5), int64(1), object(5)
memory usage: 53.1+ KB

In [65]:
df.dtypes

MovieID           int64
Title            object
MPAA Rating      object
Budget          float64
Gross           float64
Release Date     object
Genre            object
Runtime         float64
Rating          float64
Rating Count    float64
Summary          object
dtype: object

In [66]:
df.isna()


# check how many NaN we have for MPAA Rating, Budget, Gross, Release Date, Genre, Runtime, Rating and Rating Count columns

# df['MPAA Rating'].isna().sum()
# df['Budget'].isna().sum()
# df['Gross'].isna().sum()
# df['Release Date'].isna().sum()
# df['Genre'].isna().sum()
# df['Runtime'].isna().sum()
# df['Rating'].isna().sum()
df['Rating Count'].isna().sum()


# understand which kind of information each column represents
#       Based on info (see below)
#           MovieID : observation = have an extra row compared to all other columns; idea= I would delete this row
#           Release Date : observation = Dtype is object; idea= I would change it to a date / time data type
#           Rating, Rating Count, Summary: observation = many empty rows; idea= filter out these columns when analyzing these attributes
#           Budget, Gross, Runtime, Rating, Rating Count: observation = Dtype is float64; idea= if not necessary, change to integer Dtype 

# <class 'pandas.core.frame.DataFrame'>
# RangeIndex: 616 entries, 0 to 615
# Data columns (total 11 columns):
#  #   Column        Non-Null Count  Dtype  
# ---  ------        --------------  -----  
#  0   MovieID       616 non-null    int64  
#  1   Title         615 non-null    object 
#  2   MPAA Rating   615 non-null    object 
#  3   Budget        615 non-null    float64
#  4   Gross         615 non-null    float64
#  5   Release Date  615 non-null    object 
#  6   Genre         615 non-null    object 
#  7   Runtime       615 non-null    float64
#  8   Rating        508 non-null    float64
#  9   Rating Count  508 non-null    float64
#  10  Summary       496 non-null    object 
# dtypes: float64(5), int64(1), object(5)
# memory usage: 53.1+ KB

108

Get rid of the Summary column (use the drop() method)

In [67]:
df.tail(5)
df_w_o_Summary=df.drop(['Summary'], axis=1)
df_w_o_Summary.tail(5)

,MovieID,Title,MPAA Rating,Budget,Gross,Release Date,Genre,Runtime,Rating,Rating Count
611,612,Toy Story 4,G,200000000.0,1.062000e+09,2019-06-11,Animation,100.0,NaN,NaN
612,613,Fast & Furious Presents: Hobbs & Shaw,PG-13,200000000.0,7.594000e+08,2019-07-13,Thriller,136.0,NaN,NaN
613,614,The Lion King,PG,250000000.0,1.632000e+09,2019-07-09,Drama,118.0,NaN,NaN
614,615,Avengers: Endgame,PG-13,356000000.0,2.796000e+09,2019-04-22,Action,181.0,NaN,NaN
615,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Standardize

For strings: all values are either in lower or upper case. 
For numerical values: all values have a certain measurement unit
Column names: no space between words but an underscore, only in lowercase letters

idea1: I would add measurement unit in the column name
idea2: I would try to find if numerical values need decimal; if not, change to integer

In [ ]:
df_w_o_Summary.head()

# amend column names
df_column_new_name=df_w_o_Summary.rename(columns={"MovieID":"movie_id","Title":"title","MPAA Rating":"mpaa_rating","Budget":"budget","Gross":"gross","Release Date":"release_date","Genre":"genre","Runtime":"runtime","Rating":"rating","Rating Count":"rating_count"})
df_column_new_name


# lowercase all column names
df_column_new_name2=df_w_o_Summary.copy()
df_column_new_name2

df_column_new_name2.columns=df_column_new_name2.columns.str.lower().str.replace(" ","_")
df_column_new_name2

# adjust manually movieid to be movie_id
df_column_new_name3=df_column_new_name2.rename(columns={"movieid":"movie_id"})
df_column_new_name3

#add a space before capitalized letter (for the column header MovieID) 
#       = not fully successful as it returns Movie I D, 
#           importing Python re module would allow Regular expressions, or regex to adjust text data
# https://www.index.dev/blog/regex-advanced-string-replacement-python
# https://stackoverflow.com/questions/58143701/add-space-before-capital-letters-in-a-dataframe-or-column-in-python-using-regex

            # def test(word):
            #     result = ""
            #     # Iterate through each character in the word
            #     for i in word:
            #         # Check if the character is uppercase
            #         if i.isupper():
            #             # Concatenate a space and the uppercase version of the character to the result
            #             result = result + " " + i.upper()
            #         else:
            #             # Concatenate the character to the result
            #             result = result + i
            #     # Remove the leading space from the result and return
            #     return result[1:]

            # test(df_column_new_name3.columns[0])


            # df_column_new_name3.columns=df_column_new_name3.columns.str.replace(r"([A-Z])",r" \1")



# remove unnecessary spaces
# https://stackoverflow.com/questions/40950310/strip-trim-all-strings-of-a-dataframe
df_column_new_name4=df_w_o_Summary.copy()

df_column_new_name4['Title'].str.strip()

# first add space somewhere, then check
check_change=df_column_new_name4.rename({"Drama": "D r a m a "})
check_change

# columns_with_text_to_trim = df_column_new_name4.select_dtypes(include='object')
# df_column_new_name4.columns

# df_column_new_name4[columns_with_text_to_trim.columns] = columns_with_text_to_trim.apply(lambda x: x.str.strip())
# df_column_new_name4

# df_column_new_name3


# df_column_new_name


# def change_string_to_lowercase(column):
#     if x in df_column_new_name["genre"]:
#         print(["genre"])


# df_column_new_name["genre"].str.lower()

,MovieID,Title,MPAA Rating,Budget,Gross,Release Date,Genre,Runtime,Rating,Rating Count
0,1,Look Who's Talking,PG-13,7500000.0,2.960000e+08,1989-10-12,Romance,93.0,5.9,73638.0
1,2,Driving Miss Daisy,PG,7500000.0,1.457933e+08,1989-12-13,Comedy,99.0,7.4,91075.0
2,3,Turner & Hooch,PG,13000000.0,7.107992e+07,1989-07-28,Crime,100.0,7.2,91415.0
3,4,Born on the Fourth of July,R,14000000.0,1.610017e+08,1989-12-20,War,145.0,7.2,91415.0
4,5,Field of Dreams,PG,15000000.0,8.443162e+07,1989-04-21,Drama,107.0,7.5,101702.0
...,...,...,...,...,...,...,...,...,...,...
611,612,Toy Story 4,G,200000000.0,1.062000e+09,2019-06-11,Animation,100.0,NaN,NaN
612,613,Fast & Furious Presents: Hobbs & Shaw,PG-13,200000000.0,7.594000e+08,2019-07-13,Thriller,136.0,NaN,NaN
613,614,The Lion King,PG,250000000.0,1.632000e+09,2019-07-09,Drama,118.0,NaN,NaN
614,615,Avengers: Endgame,PG-13,356000000.0,2.796000e+09,2019-04-22,Action,181.0,NaN,NaN
615,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN